@import './reset';
@import './clash-display.css';
@import './variables/global';

$bg-image: url('../../shared/assets/images/background.png');

body {
  font: var(--font-m);
  background: $bg-image 0 70px, var(--bg-color);
}

.App {
  color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.content-page {
  display: flex;
  flex-grow: 1;
}

.page-wrapper {
  flex-grow: 1;
}
