{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["@feature-sliced"],
  "parser": "@typescript-eslint/parser",
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  }
}
