.root {
  padding: 34px 0;
  background: var(--clean-gray);
  backdrop-filter: blur(5px);
  max-height: 195px;
}
.container {
  display: grid;
  grid-template: 1fr / repeat(3, minmax(auto, 1fr));
}

.group_title {
  & > * {
    font: var(--font-additional) !important;
    color: var(--clean-white);
    font-weight: 700 !important;
    margin-bottom: 24px;
  }
}
