.root {

}

.input {
  border-radius: 8px;
  width: 100%;
  border: 1px solid transparent;
  border-image: var(--gradient-common);
  -moz-border-image: var(--gradient-common);
  -webkit-border-image: var(--gradient-common);
  border-image-slice: 1;
  color: var(--text-common-color);
  font: var(--font-m);
  padding: 24px;
  &:active {
    color: var(--clean-white);
  }
}

.error {
  color: var(--clean-white);
  background: rgba(255, 165, 165, 0.2);
  border: 1px solid var(--error-color);
}

.disabled {
  background: var(--clean-gray);
  border: 1px solid var(--border-color);
  color: var(--border-color);
}