.root {
  margin-top: 118px;
  position: relative;
}

.title {
  &_main {
    color: var(--clean-white);
    margin-bottom: -26px;
    position: relative;
  }
}

.course {
  font: var(--font-x);
  text-indent: calc(1220px - 179px);
  color: var(--clean-white);
}

.subtitle {
  text-indent: 310px;
  color: var(--clean-white);
  position: relative;
}

.text {
  max-width: 360px;
  position: absolute;
  bottom: 57px;
  right: 0;
  & > p {
    font: var(--font-m) !important;
  }
}
.btn {
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
}
